.py-input {
    margin: 10px 10px 10px 10px;
}

.py-button {
    width: 200px;
}

.form-group {
    width: auto;
    margin-top: 10px;
}

.main {
    width: 500px;
    height: 600px;
    background-color:lightgray ;
    padding: 10px 10px 10px 10px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 3px;
}

.py-p {
    color: white;
}

.py-terminal {
    overflow: auto;
    background-color: black;
    height: 505px;
}